.jumbotron {
  text-align: center;
}

body {
  font-family: 'Press Start 2P', cursive;
  font-family: 'Ultra', serif;
}

.form-group {
  text-align: center;
}

#result {
  background-color: #BF19D1;
  color: #EBC11A;
  text-align: center;
}